/*------------------------ Header ------------------------- */

/*------------------------ Hero ------------------------- */

/*------------------------ Preference ------------------------- */

/*------------------------ Work ------------------------- */

/*------------------------ Team ------------------------- */

/* -----------------------Regular-customers---------------- */

/*------------------------ Footer ------------------------- */

/*--------------------- Subscription ---------------------- */

/*--------------------- Portfolio ---------------------- */

/* ---------------------Modal------------- */

/* ---------Alt------- */

/* .card-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.card-item {
  width: calc((100-60px) / 3);
} */

/* transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

/* .link-item::before {
  content: '';
  white-space: ;
  width: 16px;
  height: 12px;
  background-size: cover;
  align-items: center;
  margin-right: 10px;

  background-size: contain;
  background-image: url(../imgs/SVG/smartphone.svg);
} */
